*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #eae8e8;
}
/*header*/
header{
    width: 100%;
    background-color: #e5cd81;
    padding: 10px 60px;
    margin: auto;
    z-index: 1000;
    position: fixed;
    transition: all 0.3s ease;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    color: #000;
    font-size: 2rem;
    font-weight: bold;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    margin: 20px  80px;
}
.navbar ul li>a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar ul li>a:hover{
    color: #484848;
}
.nav-icons{
    display: flex;
}
.nav-icons img{
    width: 30px;
    height: 30px;
    margin: 20px 15px;
}
.menu {
    display: none;
}
.menu img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
/*end of header*/
/*banner section*/
.images img{
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 600;
    margin-top: 119px;
}
.banner{
    position: absolute;
    z-index: 999;
    margin-left: 60%;
    margin-top: 25%;
}
.banner h2{
    font-weight: bold;
    text-align: right;
    font-size: 3rem;
}
.banner button{
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: black;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin-left: 70px;
    width: 250px;
    cursor: pointer;
}
.banner button:hover{
    background-color: #4a4a4a;
}
/*end of banner section*/
/*second section*/
hr{
    margin-top: 80px;
    height: 2rem;
    color: #e8a439;
    background-image: linear-gradient(#f89d15, #e6c867, #f6f499);
    border: none;
}
.hr2{
    margin-top: 30px;
    height: 1rem;
    color: #e8a439;
    background-image: linear-gradient(#f89d15, #e6c867, #f6f499);
    border: none;
}
.section-second{
    margin: 70px 30px;
    height: 100%;
    padding: 30px;
    background-color: #e6c867;
    border-radius: 10px;
    align-items: center;
}
.title{
    margin-top: 60px;
    text-align: center;
    background-color: #e8a439;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
}
.section-item{
    margin: 150px 10px 50px;
    background-color: #eae8e8;
    border-radius: 10px;
    width: 300px;
    height: 430px;
}
.section-item img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.section-item p{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}
.section-item button{
    margin-left: 30px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #e8a439;
    font-weight: bold;
    cursor: pointer;
}
.section-item button:hover{
    background-color: #edb760;
}
.women-section{
    margin: -40px 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 30px;
}
.men-section{
    margin: -40px 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-gap: 30px;
}
/*end of second section*/
/*footer*/
footer{
    display: grid;
    margin-top: 70px;
    padding: 20px;
    height: fit-content;
    background-color: #e5cd81;
    align-items: center;
}
.column{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 20px;
    margin-left: 250px;
}
.column ul {
    display: block;
    list-style: none;
}
.column ul>li{
    padding: 10px;
    margin-top: 15px;
}
ul li>a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    text-align: center;
}
.icons{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.icons img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
/*end of footer*/
@media (max-width: 1200px) {
    header{
        width: 100%;
        padding: 10px 60px;
        margin: auto;
    }
    .banner{
        margin-left: 60%;
        margin-top: 30%;
    }
    .banner h2{
        font-size: 2.8rem;
    }
    .banner button{
        height: 60px;
        padding: 9px;
        margin-left: 60px;
        width: 250px;
    }
    hr{
        margin-top: 80px;
        height: 2rem;
        background-image: linear-gradient(#f89d15, #e6c867, #f6f499);
        border: none;
    }
    .hr2{
        margin-top: 30px;
        height: 1rem;
        background-image: linear-gradient(#f89d15, #e6c867, #f6f499);
        border: none;
    }
    .section-second{
        margin: 70px 30px;
        height: 100%;
        padding: 30px;
    }
    .title{
        margin-top: 60px;
        font-size: 1.9rem;
        padding: 14px;
    }
    .section-item{
        margin: 150px 9px 50px;
        width: 230px;
        height: 330px;
    }
    .section-item img{
        width: 230px;
        height: 230px;
    }
    .section-item p{
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .section-item button{
        margin-left: 30px;
        width: 78px;
        height: 29px;
    }
    .women-section{
        margin: -40px 0 50px;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-gap: 30px;
    }
    .men-section{
        margin: -40px 0 50px;
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        grid-gap: 30px;
    }
    footer{
        display: grid;
        margin-top: 70px;
        padding: 20px;
        height: fit-content;
    }
    .column{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        padding: 20px;
        margin-left: 200px;
    }
    .column ul>li{
        padding: 10px;
        margin-top: 15px;
    }
    .icons img{
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    header{
        width: 100%;
        padding: 15px 50px;
        margin: auto;
    }
    .navbar h2{
        font-size: 1.9rem;
    }
    .navbar ul li{
        margin: 5px 30px 0;
        padding: 5px;
    }
    .navbar ul li>a{
        font-size: 1.4rem;
    }
    .nav-icons img{
        width: 28px;
        height: 28px;
        margin: 20px 10px;
    }
    .images img{
        width: 100%;
        height: 700px;
        margin-top: 116px;
    }
    .banner{
        margin-left: 55%;
        margin-top: 34%;
    }
    .banner h2{
        font-size: 2.7rem;
    }
    .banner button{
        height: 55px;
        padding: 10px;
        margin-left: 60px;
        width: 240px;
    }
    hr{
        margin-top: 55px;
        height: 1.8rem;
    }
    .hr2{
        margin-top: 28px;
        height: 0.9rem;
    }
    .section-second{
        margin: 60px 30px;
        height: 100%;
        padding: 30px;
    }
    .title{
        margin-top: 65px;
        font-size: 2rem;
        padding: 15px;
    }
    .section-item{
        margin: 120px 70px -20px;
        width: 280px;
        height: 410px;
    }
    .section-item img{
        width: 280px;
        height: 280px;
    }
    .section-item p{
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .section-item button{
        margin-left: 30px;
        width: 75px;
        height: 30px;
    }
    .women-section{
        margin: -40px 0 150px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 30px;
    }
    .men-section{
        margin: -40px 0 150px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 30px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 70px;
        padding: 10px;
        height: fit-content;
    }
    .column{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
        margin-left: 250px;
        margin-top: 30px;

    }
    .column ul>li{
        padding: 10px;
        margin-top: 5px;
        margin-left: -40px;
    }
    ul li>a{
        font-size: 1.5em;
    }
    .icons{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-left: 110px;
    }
    .icons img{
        width: 33px;
        height: 33px;
        margin: 20px;
    }
}


@media (max-width: 768px) {
    header{
        width: 100%;
        padding: 10px 40px;
        margin: auto;
    }
    .navbar{
        display: flex;
    }
    .navbar h2{
        font-size: 1.6rem;
    }
    .navbar ul li{
        margin: 10px 30px;
    }
    .navbar ul li>a{
        margin-top: 10px;
        font-size: 1.1rem;
    }
    .nav-icons img{
        width: 25px;
        height: 25px;
        margin: 20px 10px;
    }
    .images img{
        width: 100%;
        height: 600px;
        margin-top: 91px;
    }
    .banner{
        margin-left: 55%;
        margin-top: 38%;
    }
    .banner h2{
        font-size: 2rem;
    }
    .banner button{
        height: 40px;
        padding: 5px;
        margin-left: 31px;
        width: 200px;
        font-size: 0.7rem;
    }
    hr{
        margin-top: 35px;
        height: 1.2rem;
    }
    .hr2{
        margin-top: 20px;
        height: 0.5rem;
    }
    .section-second{
        margin: 35px 15px;
        height: 100%;
        padding: 30px;
    }
    .title{
        margin-top: 50px;
        font-size: 1.6rem;
        padding: 10px;
    }
    .section-item{
        margin: 118px 8% -55px;
        width: 270px;
        height: 380px;
    }
    .section-item img{
        width: 270px;
        height: 270px;
    }
    .section-item p{
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .section-item button{
        margin-left: 30px;
        width: 70px;
        height: 28px;
    }
    .women-section{
        margin: -40px 0 170px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 30px;
    }
    .men-section{
        margin: -40px 0 150px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 30px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 80px;
        padding: 10px;
        height: fit-content;
    }
    .column{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
        margin-left: 130px;
        margin-top: 50px;

    }
    .column ul>li{
        padding: 10px;
        margin-top: 5px;
        margin-left: -40px;
    }
    ul li>a{
        font-size: 1.4rem;
    }
    .icons{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 110px;
    }
    .icons img{
        width: 33px;
        height: 33px;
        margin: 20px;
    }
}


@media (max-width: 576px) {
    header{
        width: 100%;
        padding: 10px 20px;
        margin: auto;
    }
    .navbar h2{
        font-size: 1.6rem;
    }
    .navbar ul{
        display: none;
    }
    .nav-icons{
        display: none;
    }
    .menu{
        display: flex;
    }
    .images img{
        width: 100%;
        height: 400px;
        margin-top: 92px;
    }
    .banner{
        position: absolute;
        z-index: 999;
        margin-left: 55%;
        margin-top: 37%;
    }
    .banner h2{
        font-size: 1.6rem;
    }
    .banner button{
        height: 30px;
        padding: 5px;
        margin-left: 40px;
        width: 130px;
        font-size: 0.5rem;
    }
    hr{
        margin-top: 35px;
        height: 1.1rem;
    }
    .hr2{
        margin-top: 15px;
        height: 0.5rem;
    }
    .section-second{
        margin: 35px 15px;
        height: 100%;
        padding: 30px;
    }
    .title{
        margin-top: 60px;
        font-size: 1.5rem;
        padding: 10px;
    }
    .section-item{
        width: 250px;
        height: 350px;
        margin: auto 25%;
    }
    .section-item img{
        width: 250px;
        height: 250px;
    }
    .section-item p{
        font-size: 1rem;
        margin-left: 30px;
    }
    .section-item button{
        margin-left: 30px;
        width: 45px;
        height: 25px;
    }
    .women-section{
        margin: 90px 0 50px;
        display: flex;
        flex-direction: column;
    }
    .men-section {
        margin: 90px 0 50px;
        display: flex;
        flex-direction: column;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-top: 70px;
        padding: 10px;
        height: fit-content;
    }
    .column{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
        margin-left: 55px;
        margin-top: 30px;

    }
    .column ul {
        display: block;
    }
    .column ul>li{
        padding: 10px;
        margin-top: 5px;
        margin-left: -40px;
    }
    ul li>a{
        font-size: 1.2rem;
    }
    .icons{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 110px;
    }
    .icons img{
        width: 30px;
        height: 30px;
        margin: 20px;
    }
}